@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?sym00m");
    src: url("fonts/icomoon.eot?sym00m#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?sym00m") format("truetype"),
        url("fonts/icomoon.woff?sym00m") format("woff"),
        url("fonts/icomoon.svg?sym00m#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Success-steps-icon:before {
    content: "\e900";
}
.icon-icon:before {
    content: "\e901";
}
.icon-check-icon:before {
    content: "\e902";
}
.icon-computer-gear-icon:before {
    content: "\e903";
}
.icon-credit-card-icon:before {
    content: "\e904";
}
.icon-download-icon:before {
    content: "\e905";
}
.icon-like-icon:before {
    content: "\e906";
}
.icon-login-icon:before {
    content: "\e907";
}
.icon-paper-document-icon:before {
    content: "\e908";
}
.icon-piggy-bank-icon:before {
    content: "\e909";
}
.icon-sad-icon:before {
    content: "\e90a";
}
