@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6g3xn3');
  src:  url('fonts/icomoon.eot?6g3xn3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6g3xn3') format('truetype'),
    url('fonts/icomoon.woff?6g3xn3') format('woff'),
    url('fonts/icomoon.svg?6g3xn3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Success-steps-icon .path1:before {
  content: "\e909";
}
.icon-Success-steps-icon .path2:before {
  content: "\e90a";
  margin-left: -1em;
}
.icon-Success-steps-icon .path3:before {
  content: "\e90b";
  margin-left: -1em;
}
.icon-Success-steps-icon .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Success-steps-icon .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-check-icon:before {
  content: "\e900";
}
.icon-computer-gear-icon:before {
  content: "\e901";
}
.icon-credit-card-icon:before {
  content: "\e902";
}
.icon-download-icon:before {
  content: "\e903";
}
.icon-like-icon:before {
  content: "\e904";
}
.icon-login-icon:before {
  content: "\e905";
}
.icon-paper-document-icon:before {
  content: "\e906";
}
.icon-piggy-bank-icon:before {
  content: "\e907";
}
.icon-sad-icon:before {
  content: "\e908";
}
